div {
    background-color: lightblue;
    width: 400px;
    height: 400px;
    margin-left: 200px;
}
h1 {
    color: white;
    background-color: blue;
    padding: 5px 10px 15px 20px;
    /* top right bottom left*/
    border: 20px ridge yellow;
}